<div class="footer">
  <div class="container">
    <div class="footer-links">
      <div class="link-row">
        <h4>About</h4>
        <a href="{{site.base_url}}/about-us/">
          <p>About Us</p>
        </a>
        <a href="{{site.base_url}}/about-us/key-people">
          <p>Key People</p>
        </a>
        <a href="{{site.base_url}}/about-us/philosophy">
          <p>Approach & Philosophy</p>
        </a>
        <a href="{{site.base_url}}/clients/">
          <p>Our Clients</p>
        </a>
      </div>
      <div class="link-row">

        <h4>Services</h4>
        <div class="row-split">
          <div class="row-links">
            <a href="{{site.base_url}}/services/divestments/">
              <p>Divestments</p>
            </a>
            <a href="{{site.base_url}}/services/acquisitions/">
              <p>Acquisitions</p>
            </a>
            <a href="{{site.base_url}}/services/mergers/">
              <p>Mergers</p>
            </a>
            <a href="{{site.base_url}}/services/mergers/">
              <p>Joint Ventures</p>
            </a>
          </div>
          <div class="row-links">
            <a href="{{site.base_url}}/services/mergers/">
              <p>Strategic alliances</p>
            </a>
            <a href="{{site.base_url}}/services/indicative-valuations/">
              <p>Indicative Valuations</p>
            </a>
            <a href="{{site.base_url}}/services/private-capital-raisings/">
              <p>Private Capital Raisings</p>
            </a>
            <a href="{{site.base_url}}/services/succession-related-transactions/">
              <p>Succession Related Transactions</p>
            </a>
          </div>
        </div>
      </div>
      <div class="link-row">
        <h4>Contact</h4>
        <a href="{{site.base_url}}/contact">
          <p>Contact Us</p>
        </a>

        <a href="{{site.base_url}}/privacy-policy/">
          <p class="top-spacer">Privacy Policy</p>
        </a>
        <a href="{{site.base_url}}/terms-and-conditions/">
          <p>Terms & Conditions</p>
        </a>
      </div>
    </div>

    <div class="footer-contact">
      <img class="footer-logo" src="/assets/img/tyrrell_advisory_clear.png" alt="Tyrrell Advisory Logo">
      <div class="contact-information">
        <a href="tel:03-9946-7346">
          <p class="footer-phone">03 9946 7346</p>
        </a>
        <p class="footer-address">Level 14, 333 Collins Street, Melbourne </p>
        <p class="footer-business">AFS Licence No. 430977 | ACN 160 687 203</p>
      </div>
    </div>
    <div class="footer-line"></div>

    <div class="footer-copyright">
      <p>Copyright © 2019 Tyrrell Advisory Pty Ltd. All rights reserved.</p>

    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.js"
  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/assets/js/stickybits.min.js"></script>
<script src="/assets/js/app.js"></script>

<script>
  stickybits('.sticky-navigation', { useStickyClasses: true });
</script>

</body>

</html>