<header class="main-nav sticky-navigation">
  <nav class="navbar navbar-expand-lg">
    <div class="container">

      <a class="navbar-brand" href="{{site.base_url}}/">
        <img src="/assets/img/blue-logo.svg" alt="Tyrrell Advisory Logo">
      </a>

      <button id="nav-icon1" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbardropdown"
        aria-controls="navbardropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              About Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{site.base_url}}/about-us/key-people/">Key People</a>
              <a class="dropdown-item" href="{{site.base_url}}/about-us/philosophy/">Approach & Philosophy</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{site.base_url}}/services/divestments/">Divestments</a>
              <a class="dropdown-item" href="{{site.base_url}}/services/acquisitions/">Acquisitions</a>
              <a class="dropdown-item" href="{{site.base_url}}/services/mergers/">Mergers, Joint Ventures and Strategic Alliances</a>
              <a class="dropdown-item" href="{{site.base_url}}/services/indicative-valuations/">Indicative Valuations</a>
              <a class="dropdown-item" href="{{site.base_url}}/services/private-capital-raisings/">Private Capital Raisings</a>
              <a class="dropdown-item" href="{{site.base_url}}/services/succession-related-transactions/">Other Succession Related
                Transactions</a>
            </div>
          </li>
          <li class="nav-item"> <a class="nav-link" href='{{site.base_url}}/clients/'>Our Clients</a></li>
          <li class="nav-item"> <a class="nav-link" href='{{site.base_url}}/features/'>Contact Us</a></li>
          <li class="nav-item navigation-action">
            <a class="nav-link" href="tel:03-99467346">03 9946 7346</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>