.footer{
  background-color: $mainBlue;
  padding-top: 60px;


  .footer-links{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px){
      flex-direction: column;
    }

    h4{
      text-transform: uppercase;
      font-family: $mainFont;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.7px;
      color: #ffffff;
      margin-bottom: 20px;
      @media screen and (max-width: 768px){
        margin-top: 20px;
      }
      @media screen and (max-width: 768px){
        margin-right: 0px;
        text-align: center;
      }
    }

    p{
      margin-right: 100px;
      color: white;
      font-family: $mainFont;
      font-weight: 200;
      line-height: 25px;

      @media screen and (max-width: 992px){
        margin-right: 40px;
        font-size: 13px;
      }
      @media screen and (max-width: 768px){
        margin-right: 0px;
        text-align: center;
      }
    }

    .top-spacer{
      padding-top: 41px;
    }

    .row-split{
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 768px){
        flex-direction: column;
      }
    }
  }

  .footer-contact{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px){
      flex-direction: column;
    }

    .footer-logo{
      height: 40px;
      width: auto;
      @media screen and (max-width: 768px){
        margin-bottom: 50px;
      }

    }

    .footer-phone{
      font-family: $mainFont;
      font-size: 24px;
      letter-spacing: 1.1px;
      color: $mainGold;
      text-align: end;
      @media screen and (max-width: 768px){
        text-align: center;
        font-size: 20px;
      }
    }

    .footer-address{
      font-family: $mainFont;
      font-size: 20px;
      letter-spacing: 1.1px;
      color: $mainGold;
      text-align: end;
      @media screen and (max-width: 768px){
        text-align: center;
        font-size: 16px
      }
    }

    .footer-business{
      font-family: $mainFont;
      font-size: 11px;
      letter-spacing: 1.1px;
      color: $mainGold;
      text-align: end;
      @media screen and (max-width: 768px){
        text-align: center;
      }
    }
  }

  .footer-line{
    height: 1px;
    background-color: $mainGold;
    width: 100%;
  }

  .footer-copyright{
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: flex-start;

    p{
      font-family: $mainFont;
      font-size: 10px;
      letter-spacing: 0.7px;
      color: #ffffff;
      font-weight: 100;
    }
  }
}