.bring-to-front{
  position: relative;
  z-index: 2;
}

.breadcrumbs{
  background-color: #f9f9f9;

  .breadcrumb-box{
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
  }
  .links{
    font-family: $mainFont;
    font-size: 12px;
    letter-spacing: 0.52px;
    color: $mainBlue;
    text-transform: uppercase;
    font-weight: 200;
    margin: 0px;
    line-height: 20px;
  }

  .current-page{
    font-family: $mainFont;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.52px;
    color: $mainBlue;
    margin:0px;
    line-height: 20px;
    text-transform: uppercase;
  }

  img{
    padding: 0 15px;
    height: 20px; 
    width: auto;
  }
}

.home-blank-example{
  background-color: $mainBlue;
  height: 100vh;
  width: 100vw;
}

.rotate{
  transform: rotate(180deg);
}

a{
  text-decoration: none;
  outline: none;

  &:hover{
    text-decoration: none;
    outline: none;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}
