.key-people{
  padding: 50px 0;
  h1{
    font-family: $mainFont;
    font-size: 82px;
    font-weight: 600;
    letter-spacing: 0.52px;
    color: $mainBlue;
    @media screen and (max-width: 768px){
      font-size: 40px;
    }
  }
  .sub-heading{
    font-family: $mainFont;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.43px;
    color: $mainBlue;
    text-transform: uppercase;
    @media screen and (max-width: 768px){
      font-size: 14px;
    }
  }
  h4{
    font-family: $mainFont;
    font-size: 24px;
    letter-spacing: 0.52px;
    color: $mainBlue;
    font-weight: 400;
    margin: 37px 0;
    max-width: 684px;
    line-height: 34px;
    @media screen and (max-width: 768px){
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .contact-box{
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px){
      flex-direction: column;
      align-items: flex-start;
    }

    .phone, .email {
      display: flex;
      align-items: center;
      @media screen and (max-width: 768px){
        margin-bottom: 20px;
      }
    }

    p{
      margin:0px;
      font-family: $mainFont;
      font-size: 20px;
      font-weight: 200;
      letter-spacing: 0.43px;
      color: #101f46;
      margin: 0 20px;
      @media screen and (max-width: 768px){
        font-size: 14px;
      }
    }
  }

  .background-box{
    padding: 60px 0;
    @media screen and (max-width: 768px){
      padding: 30px 0;
    }


    .minimised-content{
      height: 220px;
    }

    .background-content{
      max-width: 869px;
      overflow: hidden;
      position: relative;

      .shade{
        z-index: 2;
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 50%;
        width: 100%;
        background: linear-gradient(to top, #f9f9f9, rgba(255,255,255,0));
      }
    }

    .content{
      font-family: $mainFont;
      font-size: 18px;
      font-weight: 200;
      letter-spacing: 0.43px;
      color: #525f7f;
      @media screen and (max-width: 768px){
        font-size: 13px;
      }
    }
  }
}

.minor-heading{
  text-transform: uppercase;
  font-family: $mainFont;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.52px;
  color: $mainBlue;
}

.content-toggle-box{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  max-width: 869px;

  p{
    margin: 0px;
    font-family: $mainFont;
    font-size: 18px;
    letter-spacing: 0.43px;
    color: $mainBlue;
    padding-right: 20px;
  }
}

.recent-deals{
  padding-bottom: 50px;
}

.deal-cell{
  display: flex;
  align-items: center;
  margin-bottom: 37px;

  img{
    max-width: 85px;
    max-height: 85px;
  }
  .deal-content{
    max-width: 390px;
    padding-left: 30px;
  }
  .deal-name{
    font-family: $mainFont;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.52px;
    color: $mainBlue;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .deal-info{
    font-family: $mainFont;
    font-size: 17px;
    letter-spacing: 0.52px;
    color: $mainBlue;
    margin: 0px;
  }
}