.navbar{
  background-color: $mainBlue;
  height: 84px;
  @media screen and (max-width: 768px){
    height: 60px;
  }

  .navbar-brand{
    img{
      height: 40px;
      width: auto;
      @media screen and (max-width: 768px){
        height: 30px;
      }
    }
  }

  .navbar-nav{
    display: flex;
    align-items: center;
    .nav-item{
      .nav-link{
        color: white;
        font-family: $mainFont;
        font-weight: 200;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
      }
    }
  }
}





.navigation-action{
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid white;
  margin-left: 10px;
  transition: 0.3s;
  
  // &:hover{
  //   background-color:#fff ;
  //   border-color: #fff;
  //   box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
  // }
  a{
    color: white;
    font-size: 12px!important;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px 18px!important;
    margin: 0px;
    transition: 0.3s;
  }
}

.main-nav{
  z-index: 100;
}
.main-nav.js-is-sticky {
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
  .navigation-action{
    background-color: #fff;
    .nav-link{
      color: $mainBlue!important;
      font-weight: 400;

    }
  }
}

.main-nav.js-is-sticky--change {

}

.main-nav.js-is-stuck {

}

.dropdown-menu{
  border-radius: 0px;
  padding: 0px;
  margin-top: -2px;
  border: 1px solid $mainGold;

  .dropdown-item{
    font-family: $mainFont;
    font-size: 12px;
    letter-spacing: 0.47px;
    color: $mainBlue;
    padding: 10px 15px;
    border: none;
    background-color: white;

    &:hover{
      background-color: #f9f9f9;
      border: none;
    }
  }

  .main-dropdown{
    background-color: $mainGold;
    color: $mainBlue;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    &:hover{
      background-color: $mainGold;
      text-decoration: underline;      
    }
  }
}

.navigation-mobile{
  display: none;
  width: 100%;
  @media screen and (max-width: 992px){
    display: block;
  }

  .mobile-dropdown-box{
    border-bottom: 2px solid white;
    margin-bottom: -2px;
  }

  .main-link{
    border-bottom: 2px solid white;
  }

  .mobile-link{
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    p{
      color: $mainBlue;
      font-family: $mainFont;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.31px;  
      margin: 0px;
    }
  }

  .nested{
    background-color: #fff;
    border-bottom-color: #f9f9f9;
  }
}


.burger-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px!important;
}

.burger-helper{
  display: none;
  position: relative;
  color: white;
  margin: 0px;
  font-family: $mainFont;
  margin-right: 10px;
  font-size: 12px; 
  font-weight: 400;
  letter-spacing: 1.2;
  text-transform: uppercase;

  @media screen and (max-width: 1024px){
    display: block
  }
}