---
---
//variables
$mainBlue: #12172F

$mainGold: #E2D292

$mainFont: 'Open Sans', sans-serif


//imports
@import "home"
@import "navigation"
@import "nav_icon"
@import "helpers"
@import "footer"
@import "about-us"
@import "services"
@import "key-people"
@import "contact"
@import "clients"